* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: #12100e;
    color: #e5d9c3;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(18,16,14,0.95);
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    z-index: 100;
    border-bottom: 1px solid #8a6f3b;
}

nav h2 {
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #e5d9c3;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #c9a14a;
}

/* HERO */
.hero {
    min-height: 100vh;
    text-align: center;
    padding-top: 160px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #c9a14a;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-style: italic;
    color: #c9a14a;
}

/* SECTION */
section {
    padding: 100px 10%;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

/* ABOUT */
.biodata {
    margin-top: 30px;
    text-align: center;
}

/* PROJECT */
.projects {
    background: #1a1713;
}

.project-card {
    display: flex;
    background: #181512;
    margin-bottom: 40px;
    border: 1px solid #8a6f3b;
    box-shadow: 0 0 30px rgba(201,161,74,0.1);
}

.project-card img {
    width: 40%;
    object-fit: cover;
}

.project-info {
    padding: 30px;
}

.project-info h3 {
    color: #c9a14a;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    text-align: center;
}

/* FOOTER */
footer {
    background: #0d0b09;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #8a6f3b;
}

/* ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
        height: 250px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}
